/*  * *
    * *
    * *
*/
body,
body.dark {
  --headerBg: #252525;
  --headerText: #90949c;
  --footerBg: #252525;
  --footerText: #90949c;
  --contentBg: #191919;
  --contentBgPrimary: #424242;
  --contentTextPrimary: #90949c;
  --contentBgSecondary: #303030;
  --contentTextSecondary: #f5f5f5;
  --plainBg: #101010;
}
body.light {
  --headerBg: #90949c;
  --headerText: #000000;
  --footerBg: #90949c;
  --footerText: #000000;
  --contentBg: #81858c;
  --contentBgPrimary: #bdbdbd;
  --contentTextPrimary: #000000;
  --contentBgSecondary: #e0e0e0;
  --contentTextSecondary: #424242;
  --plainBg: #cfd8dc;
}
body.transparent {
  --headerBg: transparent;
  --headerText: #000000;
  --footerBg: transparent;
  --footerText: #000000;
  --contentBg: transparent;
  --contentBgPrimary: transparent;
  --contentTextPrimary: #000000;
  --contentBgSecondary: transparent;
  --contentTextSecondary: #424242;
  --plainBg: url("https://www.w3schools.com/css/paris.jpg");
}
body {
  --bgTransparent: transparent;
  --colorTransparent: transparent;
}
