/*
 * * Bclass colors v2.0.0
 * * Copyright 2021 ("https://github.com/EW-EndWall/bClass-colors/blob/main/LICENSE")
 * * Licensed ("Bik Public License 2.0")
 * * License Update ("03/28/2024")
*/
/* * color white wave */
body.white-wave {
  --headerBg: #c3c3c3;
  --footerBg: #c3c3c3;
  --headerText: #878787;
  --footerText: #878787;
  --contentBg: #e1e1e1;
  --contentBgPrimary: #a5a5a5;
  --contentBgSecondary: #c3c3c3;
  --contentTextPrimary: #878787;
  --contentTextSecondary: #424242;
  --plainBg: #cfd8dc;
}
/* * color white angel */
body.white-angel {
  --headerBg: #b8afc3;
  --footerBg: #b8afc3;
  --headerText: #7c7387;
  --footerText: #7c7387;
  --contentBg: #d6cde1;
  --contentBgPrimary: #b8afc3;
  --contentBgSecondary: #9a91a5;
  --contentTextPrimary: #7c7387;
  --contentTextSecondary: #424242;
  --plainBg: #f4ebff;
}
/* * color snow white */
body.snow-white {
  --headerBg: #afafaf;
  --footerBg: #afafaf;
  --headerText: #0b0b0b;
  --footerText: #0b0b0b;
  --contentBg: #d2d4dc;
  --contentBgPrimary: #f8f8fa;
  --contentBgSecondary: #c0c2ce;
  --contentTextPrimary: #0b0b0b;
  --contentTextSecondary: #424242;
  --plainBg: #f4ebff;
}
/* * color blue crane */
body.blue-crane {
  --headerBg: #6fccea;
  --footerBg: #6fccea;
  --headerText: #003554;
  --footerText: #003554;
  --contentBg: #6fccea;
  --contentBgPrimary: #c7ebf8;
  --contentBgSecondary: #00a9dd;
  --contentTextPrimary: #003554;
  --contentTextSecondary: #e9f6fb;
  --plainBg: #f4ebff;
}
/* * color soft purple */
body.soft-purple {
  --headerBg: #ccccff;
  --footerBg: #ccccff;
  --headerText: #7272a5;
  --footerText: #7272a5;
  --contentBg: #ccccff;
  --contentBgPrimary: #aeaee1;
  --contentBgSecondary: #9090c3;
  --contentTextPrimary: #7272a5;
  --contentTextSecondary: #545487;
  --plainBg: #f4ebff;
}
/* * color sky */
body.sky {
  --headerBg: #87ceeb;
  --footerBg: #87ceeb;
  --headerText: #2d7491;
  --footerText: #2d7491;
  --contentBg: #87ceeb;
  --contentBgPrimary: #69b0cd;
  --contentBgSecondary: #4b92af;
  --contentTextPrimary: #2d7491;
  --contentTextSecondary: #0f5673;
  --plainBg: #f4ebff;
}
/* * color green wave */
body.green-wave {
  --headerBg: #10e0d2;
  --footerBg: #10e0d2;
  --headerText: #008678;
  --footerText: #008678;
  --contentBg: #10e0d2;
  --contentBgPrimary: #00c2b4;
  --contentBgSecondary: #00a496;
  --contentTextPrimary: #008678;
  --contentTextSecondary: #00685a;
  --plainBg: #f4ebff;
}
/* * color blue wave */
body.blue-wave {
  --headerBg: #00aaff;
  --footerBg: #00aaff;
  --headerText: #0050a5;
  --footerText: #0050a5;
  --contentBg: #00aaff;
  --contentBgPrimary: #008ce1;
  --contentBgSecondary: #006ec3;
  --contentTextPrimary: #0050a5;
  --contentTextSecondary: #003287;
  --plainBg: #f4ebff;
}
/* * color classic green */
body.classic-green {
  --headerBg: #83ce9e;
  --footerBg: #83ce9e;
  --headerText: #297444;
  --footerText: #297444;
  --contentBg: #83ce9e;
  --contentBgPrimary: #65b080;
  --contentBgSecondary: #479262;
  --contentTextPrimary: #297444;
  --contentTextSecondary: #0b5626;
  --plainBg: #f4ebff;
}
/* * color pinkish */
body.pinkish {
  --headerBg: #cf35ff;
  --footerBg: #cf35ff;
  --headerText: #7500a5;
  --footerText: #7500a5;
  --contentBg: #cf35ff;
  --contentBgPrimary: #b117e1;
  --contentBgSecondary: #9300c3;
  --contentTextPrimary: #7500a5;
  --contentTextSecondary: #570087;
  --plainBg: #f4ebff;
}
/* * color deep ocean */
body.deep-ocean {
  --headerBg: #35a8c4;
  --footerBg: #35a8c4;
  --headerText: #004e6a;
  --footerText: #004e6a;
  --contentBg: #35a8c4;
  --contentBgPrimary: #178aa6;
  --contentBgSecondary: #006c88;
  --contentTextPrimary: #004e6a;
  --contentTextSecondary: #00304c;
  --plainBg: #f4ebff;
}
/* * color spring */
body.spring {
  --headerBg: #b9f01c;
  --footerBg: #b9f01c;
  --headerText: #5f9600;
  --footerText: #5f9600;
  --contentBg: #b9f01c;
  --contentBgPrimary: #9bd200;
  --contentBgSecondary: #7db400;
  --contentTextPrimary: #5f9600;
  --contentTextSecondary: #417800;
  --plainBg: #f4ebff;
}
/* * color autumn */
body.autumn {
  --headerBg: #f8aa47;
  --footerBg: #f8aa47;
  --headerText: #9e5000;
  --footerText: #9e5000;
  --contentBg: #f8aa47;
  --contentBgPrimary: #da8c29;
  --contentBgSecondary: #bc6e0b;
  --contentTextPrimary: #9e5000;
  --contentTextSecondary: #803200;
  --plainBg: #f4ebff;
}
/* * color coffee */
body.coffee {
  --headerBg: #d8b256;
  --footerBg: #d8b256;
  --headerText: #7e5800;
  --footerText: #7e5800;
  --contentBg: #d8b256;
  --contentBgPrimary: #ba9438;
  --contentBgSecondary: #9c761a;
  --contentTextPrimary: #7e5800;
  --contentTextSecondary: #603a00;
  --plainBg: #f4ebff;
}
/* * color strong coffee */
body.strong-coffee {
  --headerBg: #e1983f;
  --footerBg: #e1983f;
  --headerText: #873e00;
  --footerText: #873e00;
  --contentBg: #e1983f;
  --contentBgPrimary: #c37a21;
  --contentBgSecondary: #a55c03;
  --contentTextPrimary: #873e00;
  --contentTextSecondary: #692000;
  --plainBg: #f4ebff;
}
/* * color cute purple */
body.cute-purple {
  --headerBg: #c6b8fb;
  --footerBg: #c6b8fb;
  --headerText: #6c5ea1;
  --footerText: #6c5ea1;
  --contentBg: #c6b8fb;
  --contentBgPrimary: #a89add;
  --contentBgSecondary: #8a7cbf;
  --contentTextPrimary: #6c5ea1;
  --contentTextSecondary: #4e4083;
  --plainBg: #f4ebff;
}
/* * color open ocean */
body.open-ocean {
  --headerBg: #8dc8fc;
  --footerBg: #8dc8fc;
  --headerText: #336ea2;
  --footerText: #336ea2;
  --contentBg: #8dc8fc;
  --contentBgPrimary: #6faade;
  --contentBgSecondary: #518cc0;
  --contentTextPrimary: #336ea2;
  --contentTextSecondary: #155084;
  --plainBg: #f4ebff;
}
/* * color taxi */
body.taxi {
  --headerBg: #f6e349;
  --footerBg: #f6e349;
  --headerText: #9c8900;
  --footerText: #9c8900;
  --contentBg: #f6e349;
  --contentBgPrimary: #d8c52b;
  --contentBgSecondary: #baa70d;
  --contentTextPrimary: #9c8900;
  --contentTextSecondary: #7e6b00;
  --plainBg: #f4ebff;
}
/* * color light pink */
body.light-pink {
  --headerBg: #e80fcf;
  --footerBg: #e80fcf;
  --headerText: #8e0075;
  --footerText: #8e0075;
  --contentBg: #e80fcf;
  --contentBgPrimary: #ca00b1;
  --contentBgSecondary: #ac0093;
  --contentTextPrimary: #8e0075;
  --contentTextSecondary: #700057;
  --plainBg: #f4ebff;
}
/* * color soft navy blue */
body.soft-navy-blue {
  --headerBg: #696d8d;
  --footerBg: #696d8d;
  --headerText: #0f1333;
  --footerText: #0f1333;
  --contentBg: #696d8d;
  --contentBgPrimary: #4b4f6f;
  --contentBgSecondary: #2d3151;
  --contentTextPrimary: #0f1333;
  --contentTextSecondary: #4a4a78;
  --plainBg: #000015;
}
/* * color ultraviolet */
body.ultraviolet {
  --headerBg: #440a7b;
  --footerBg: #440a7b;
  --headerText: #000021;
  --footerText: #000021;
  --contentBg: #440a7b;
  --contentBgPrimary: #26005d;
  --contentBgSecondary: #08003f;
  --contentTextPrimary: #000021;
  --contentTextSecondary: #291841;
  --plainBg: #08003f;
}
/* * color red sparrow */
body.red-sparrow {
  --headerBg: #aa2b39;
  --footerBg: #aa2b39;
  --headerText: #500000;
  --footerText: #500000;
  --contentBg: #aa2b39;
  --contentBgPrimary: #8c0d1b;
  --contentBgSecondary: #6e0000;
  --contentTextPrimary: #500000;
  --contentTextSecondary: #661c1c;
  --plainBg: #320000;
}
/* * color deep coffee */
body.deep-coffee {
  --headerBg: #7d4b0e;
  --footerBg: #7d4b0e;
  --headerText: #230000;
  --footerText: #230000;
  --contentBg: #7d4b0e;
  --contentBgPrimary: #5f2d00;
  --contentBgSecondary: #410f00;
  --contentTextPrimary: #230000;
  --contentTextSecondary: #56371c;
  --plainBg: #623907;
}
/* * color strong purple */
body.strong-purple {
  --headerBg: #822988;
  --footerBg: #822988;
  --headerText: #28002e;
  --footerText: #28002e;
  --contentBg: #822988;
  --contentBgPrimary: #640b6a;
  --contentBgSecondary: #46004c;
  --contentTextPrimary: #28002e;
  --contentTextSecondary: #5e2681;
  --plainBg: #9a3ad3;
}
/* * color purple of blue */
body.purple-of-blue {
  --headerBg: #5e24ad;
  --footerBg: #5e24ad;
  --headerText: #040053;
  --footerText: #040053;
  --contentBg: #5e24ad;
  --contentBgPrimary: #40068f;
  --contentBgSecondary: #220071;
  --contentTextPrimary: #040053;
  --contentTextSecondary: #814acb;
  --plainBg: #000035;
}
/* * color deep turquoise */
body.deep-turquoise {
  --headerBg: #389da9;
  --footerBg: #389da9;
  --headerText: #00434f;
  --footerText: #00434f;
  --contentBg: #389da9;
  --contentBgPrimary: #1a7f8b;
  --contentBgSecondary: #00616d;
  --contentTextPrimary: #00434f;
  --contentTextSecondary: #53787c;
  --plainBg: #002531;
}
/* * color middle layer */
body.middle-layer {
  --headerBg: #678a91;
  --footerBg: #678a91;
  --headerText: #0d3037;
  --footerText: #0d3037;
  --contentBg: #678a91;
  --contentBgPrimary: #496c73;
  --contentBgSecondary: #2b4e55;
  --contentTextPrimary: #0d3037;
  --contentTextSecondary: #80b1bb;
  --plainBg: #001219;
}
