/***
 * * Bclass colors v1.0.0
 * * Copyright 2021 ("https://github.com/EW-EndWall/bClass-colors/blob/main/LICENSE")
 * * Licensed ("Bik Public License 2.0")
 * * License Update ("03/28/2024")
*/
/* * color default and dark */
body,
body.dark {
  --headerBg: #252525;
  --headerText: #90949c;
  --footerBg: #252525;
  --footerText: #90949c;
  --contentBg: #191919;
  --contentBgPrimary: #424242;
  --contentTextPrimary: #90949c;
  --contentBgSecondary: #303030;
  --contentTextSecondary: #f5f5f5;
  --plainBg: #101010;
  background-color: var(--plainBg);
  color: var(--contentTextPrimary);
}
/* * color light */
body.light {
  --headerBg: #90949c;
  --headerText: #000000;
  --footerBg: #90949c;
  --footerText: #000000;
  --contentBg: #81858c;
  --contentBgPrimary: #bdbdbd;
  --contentTextPrimary: #000000;
  --contentBgSecondary: #e0e0e0;
  --contentTextSecondary: #424242;
  --plainBg: #cfd8dc;
  background-color: var(--plainBg);
  color: var(--contentTextPrimary);
}
/* * color transparent */
body.transparent {
  --headerBg: transparent;
  --headerText: #000000;
  --footerBg: transparent;
  --footerText: #000000;
  --contentBg: transparent;
  --contentBgPrimary: transparent;
  --contentTextPrimary: #000000;
  --contentBgSecondary: transparent;
  --contentTextSecondary: #424242;
  --plainBg: url("https://www.w3schools.com/css/paris.jpg");
  background-image: var(--plainBg);
  color: var(--contentTextPrimary);
}
/* * color black */
body.black {
  --headerBg: #000000;
  --headerText: #818181;
  --footerBg: #000000;
  --footerText: #818181;
  --contentBg: #000000;
  --contentBgPrimary: #505050;
  --contentTextPrimary: #818181;
  --contentBgSecondary: #111111;
  --contentTextSecondary: #f5f5f5;
  --plainBg: #101010;
  background-color: var(--plainBg);
  color: var(--contentTextPrimary);
}
body {
  --transparent: transparent;
}
.bg-transparent {
  background: rgba(0, 0, 0, 0);
}
.text-transparent {
  color: rgba(0, 0, 0, 0);
}
